<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/helvy91/index.json" />
	</packageSources>
	<packagesSourceCredentials>
		<github>
			<add key="Username" value="helvy91" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packagesSourceCredentials>
</configuration>